PORT=3000
NODE_ENV=development

DATABASE_URL=file:./dev.db

JWT_SECRET=changez_moi_en_production

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL=http://localhost:5173
